<!-- Topbar -->

<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow bg-gradient-dark">

    <!-- Header -->
    <a style="text-decoration:none;" href="{% url 'home' %}" id="header">
        <div >
            <h1 class="h3 mb-0 text-gray-400" >UWApp</h1>
        </div>
    </a>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Home -->
        <li class="nav-item mx-1">
            <a class="nav-link" href="{% url 'home' %}">
                Home
            </a>
        </li>

        {% if user.is_authenticated %}
        <!-- Nav Item - Dashboard -->
        <li class="nav-item mx-1">
            <a class="nav-link" href="{% url 'dashboard' %}">
                Dashboard
            </a>
        </li>

        <!-- Nav Item - Membership -->
        <li class="nav-item mx-1">
            <a class="nav-link" href="{% url 'dashboard' %}">
                Membership
            </a>
        </li>

        <!-- Nav Item - Logout -->
        <li class="nav-item mx-1">
            <a class="nav-link" href="{% url 'logout' %}">
                Logout
            </a>
        </li>

        {% else %}
        <!-- Nav Item - Login -->
        <li class="nav-item mx-1">
            <a class="nav-link" href="{% url 'login' %}">
                Login
            </a>
        </li>

        <!-- Nav Item - Register -->
        <li class="nav-item mx-1">
            <a class="nav-link" href="{% url 'register' %}">
                Register
            </a>
        </li>
        {% endif %}

    </ul>

</nav>
<!-- End of Topbar -->